streamlit
pandas
requests
nltk
beautifulsoup4
openpyxl
unidecode
xlsxwriter
lxml
aiohttp
pyarrow
playwright
tldextract
google
readability-lxml
boilerpy3
html5lib
python-docx
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
scikit-learn
trafilatura
polyglot
openai
scikit-learn
numpy
random
